{% extends 'book_bucketlist/base.html' %} {% block content %}
{% load tailwind_tags %}
<h2 class="font-large text-4xl">Authors <a href="{% url 'author_create' %}" class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">(+)</a></h2>
<ul class="font-large text-4xl">
  {% for author in authors %}
  <li class = "hover:underline text-emerald-600">
    <a href="{% url 'author_detail' pk=author.pk %}" class="text-current text-red-100">
        {{ author.name }}
      </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}  