{% extends 'book_bucketlist/base.html' %} {% block content %}
<h2 class= "text-3xl hover:underline text-emerald-600 bg-black">{{ author.name }} <a href="{% url 'author_edit' pk=author.pk %}">(Edit)</a><a href="{% url 'author_delete' pk=author.pk %}">(Delete)</a>
</h2>
<div class="bg-black">
<img src="{{ author.photo_url }}" alt="" class="author-photo" />
</div>
<h3 class= "text-4xl text-blue-600 bg-black">Books <a href="{% url 'book_create' %}" class="text-blue-600">(+)</a></h3>
<ul>
  {% for book in author.books.all %}
  <li class = "bg-black hover:underline" >
    <a href="{% url 'book_detail' pk=book.pk %}" class= "text-3xl bg-black text-emerald-600 font-bold hover:underline">{{ book.title }} </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}