{% extends 'book_bucketlist/base.html' %} {% block content %}
  
  <img src="{{ book.cover_url }}" alt="" class="book-cover" />
   <h2 class= "text-xl">{{book.title}} 
        <a  href="{% url 'book_edit' pk=book.pk %}" >(Edit)</a> <a href="{% url 'book_delete' pk=book.pk %}">(Delete)</a> <a href="{% url 'add_book_to_user' pk=book.pk%}">(Add to list) </a>
   </h2>
   <h2 class= "text-xl hover:underline">Author: {{book.author}}</h2>
   <h2 class= "text-xl hover:underline">Book Description: {{ book.description}}
   <h3 class= "text-xl hover:underline">Year Published: {{book.year}}</h3>
   
    {% endblock %}