{% extends 'book_bucketlist/base.html' %} {% block content %}
<h2 class= "text-3xl hover:underline text-blue-600 bg-black">{{ user.name }} <a href="{% url 'user_edit' pk=user.pk %}">(Edit)</a><a href="{% url 'user_delete' pk=user.pk %}">(Delete)</a> 
</h2>
<ul>
  {% for book in user.books.all %}
  <li class = "hover_underline">
    <a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }} </a>
  </li> 
  {% endfor %}
  {% for item in list %}
    <p class="text-3xl bg-black text-emerald-600 font-bold">{{item.book}}</p>
  </li> 
  {% endfor %}
</ul>  
{% endblock %}